<!-- ============================================================== -->
<!-- row -->
<!-- ============================================================== -->
<div fxLayout="row" fxLayoutWrap="wrap">
    <!-- Card column -->
    <div fxFlex.gt-sm="100%" fxFlex="100">
        <mat-card>
            <mat-card-content>
                <mat-card-title>Booking</mat-card-title>
                <mat-horizontal-stepper [linear]="isLinear" (selectionChange)="doChangeSelection($event)">
                    <mat-step [stepControl]="formUser">
                        <form [formGroup]="formUser">
                            <ng-template matStepLabel>Your information</ng-template>
                            <mat-form-field>
                                <input matInput placeholder="Fullname" formControlName="fullName" required/>
                            </mat-form-field>
                            <mat-form-field>
                                <input matInput placeholder="Your phone number" formControlName="phone" required/>
                            </mat-form-field>
                            <div class="text-center">
                                <button mat-raised-button color="warn" matStepperNext>
                                    Next
                                </button>
                            </div>
                        </form>
                    </mat-step>
                    <mat-step [stepControl]="formDepartment">
                        <form [formGroup]="formDepartment">
                            <ng-template matStepLabel>Select Department</ng-template>
                            <mat-form-field>
                                <input matInput placeholder="Address" formControlName="departmentId" required>
                            </mat-form-field>
                            <div class="text-center">
                                <button mat-raised-button color="accent" matStepperPrevious>
                                    Back
                                </button>
                                <button mat-raised-button color="warn" matStepperNext>
                                    Next
                                </button>
                            </div>
                        </form>
                    </mat-step>
                    <mat-step>
                        <ng-template matStepLabel>Booking time</ng-template>
                        <div class="text-center">
                            <button mat-raised-button color="accent" matStepperPrevious>
                                Back
                            </button>
                        </div>
                    </mat-step>
                </mat-horizontal-stepper>
            </mat-card-content>
        </mat-card>
    </div>
</div>