/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.department {
    &__booking__item {
        figure {
            flex-direction: column;
        }
    }
    .mat-chip-list-wrapper {
        justify-content: center;
    }
}

